@import "./variables";

html,
body {
  // -webkit-transform: translate3d(0, 0, 0);
  padding: 0;
  margin: 0;
  // font-family: -apple-system, Poppins, BlinkMacSystemFont, Segoe UI, Roboto,
  //   Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Bodoni Moda", sans-serif;
  box-sizing: border-box;
  color: $light;
}

.styled-text {
  background: -webkit-linear-gradient(
    $primary,
    $secondary,
    $light,
    $secondary,
    $light
  );
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  background: url("../../public/images/bg2.webp");
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  // ::before {
  //   background-attachment: fixed;
  // }
  .navbar {
    position: fixed;
    z-index: 10;
    .inner {
      .menubtn {
        border: 0.18em solid $primary;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
          font-size: 1.5em;
        }
      }
      .book-me {
        background: transparent;
        border: 2px solid $primary;

        &:hover {
          background: $primary;
          .ant-anchor-link-title {
            color: $dark;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    background: url("../../public/images/mobile-bg.webp");
    background-position: center;
    background-size: cover;
    // background-attachment: fixed;
    // background: red;
  }
  nav {
    // background: rgba(0, 0, 0, 0.8);
    background: linear-gradient($dark, $secondary);
    box-shadow: 0.2rem 0.2rem 0.3rem whitesmoke;
    width: 100%;
    position: relative;
    box-shadow: 1rem;

    .menu {
      position: fixed;
      display: block;
      height: 100%;
      width: 100%;
      transition: 0.7s ease-in-out;
      // padding: 5rem;
      top: -100%;
      left: 0;

      .menu-wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        .menu-items {
          height: 100%;
          position: relative;
          width: 80%;

          .navitem {
            position: absolute;
            background: rgba(0, 0, 0, 0.9);
            padding: 0.2rem;
            display: flex;
            border-radius: 10%;
            .nav-link {
              cursor: pointer;
              text-align: center;
              text-decoration: none !important;
            }
          }
          .home-link {
            left: 20%;
            top: 5%;
          }
          .gallery-link {
            left: 50%;
            top: 20%;
          }
          .about-link {
            left: 20%;
            top: 35%;
          }
          .contact-link {
            left: 50%;
            top: 50%;
          }
          .close {
            left: 25%;
            top: 65%;
            display: flex;
            justify-content: center;

            i {
              font-size: 1.5em;
            }
          }
        }
      }
    }

    // .menu {
    //   position: fixed;
    //   display: block;
    //   width: 100%;
    //   background: green;
    //   height: 50vh;
    //   top: -100%;
    // }

    .social-icons {
      align-items: center;
      i {
        color: $primary;
        margin-right: 1rem;
        cursor: pointer;
        @media screen and (min-width: 768px) {
          // margin-right: 2rem;
        }
      }
    }

    .btn {
      i {
        color: inherit;
      }
    }
  }
  .content {
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 90%;
    // flex: 1;

    .inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .name {
        // background: green;
        display: flex;
        justify-content: space-between;

        p {
          // height: 100vh;

          text-align: center;
          margin: 0;
          writing-mode: vertical-lr;
          text-orientation: upright;
          font-size: 3rem;
          font-weight: 900;
          @media screen and (max-width: 768px) {
            font-size: 2rem;
          }
        }
        .joy {
          border-left: 2px solid $light;
        }
        .simdi {
          border-right: 2px solid $light;
        }
      }
      .title {
        background: rgba(0, 0, 0, 0.5);
        // padding: 0;
        h4 {
          // width: 100%;
          font-size: 1.5rem;
          letter-spacing: 0.2rem;
          // font-weight: bold;
          @media screen and (max-width: 768px) {
            letter-spacing: 0.1rem;
            font-size: 1.2rem;
          }
        }
        // .
      }
      .arrow-down {
        text-align: center;
      }
    }
  }
}

.about {
  height: 90vh;
  display: flex;
  align-items: center;
  background: rgba(10, 10, 10, 0.2);
  box-shadow: 20rem;
  // padding: 2rem 0;

  .inner {
    height: 100%;
    width: 100%;
    // background: yellow;
    background: url("../../public/images/bg1.webp");
    background-size: cover;
    background-position: center;
    // background-attachment: fixed;
    background-repeat: no-repeat;
    padding-top: 3rem;

    display: flex;
    align-items: center;
    .about-text {
      text-align: justify;
      border-left: 2px solid $light;
      border-right: 2px solid $light;
      padding: 0 0.5rem;

      .about-title {
        display: flex;
        justify-content: flex-end;
        h4 {
          font-weight: 700;
          writing-mode: vertical-rl;
          text-orientation: upright;
          letter-spacing: -0.5rem;
        }
        @media screen and (max-width: 768px) {
          font-size: 1rem;
          font-weight: 900;
        }
      }
      p {
        @media screen and (max-width: 768px) {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.gallery {
  // height: 90vh;
  display: flex;
  align-items: center;
  background: linear-gradient($dark, $secondary, $dark);
  position: relative;
  // padding: 1em;
  .inner {
    .title {
      text-align: right;
      margin-bottom: 2em;

      p {
        font-size: 2rem;
      }
      //   writing-mode: vertical-lr;
      //   text-orientation: upright;
    }
    .images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
      place-items: center;
      .image-set {
        min-height: 25em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: 550px) {
          min-height: 30em;
        }
        // .test {
        //   position: absolute;
        //   left: 20%;
        //   top: 20%;
        //   z-index: 2;

        //   img {
        //     max-width: 15em !important;
        //     // height: auto;
        //   }
        // }

        .image {
          overflow: hidden;
          border-radius: 1rem;
          box-shadow: 0 0 1px $primary, 0 0 5px $primary, 0 0 10px $primary,
            0 0 0 $primary;
          background: linear-gradient(transparent, #0005);
          -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
          padding: 0.2rem;
          // &:hover {
          //   position: fixed;
          //   top: 20%;
          //   left: 50%;
          //   z-index: 2;

          //   img {
          //     max-width: 15em;
          //   }
          // }

          img {
            max-width: 5em;
            border-radius: 1em;

            @media screen and (min-width: 768px) {
              max-width: 7em;
            }
          }
        }
      }
    }
  }
}

footer {
  // height: 50vh;
  background: linear-gradient($dark, $secondary, $dark);
  padding-top: 3rem;
  .inner {
    .wrapper {
      width: 100%;
      @media screen and (min-width: 768px) {
        // background: red;
        display: flex;
        justify-content: space-between;
      }
      .left {
        display: flex;
        justify-content: space-between;
        @media screen and (min-width: 768px) {
          width: 40%;
        }
        i {
          margin-right: 1rem;
        }
        .contact {
          width: 50%;
        }
      }
      .right {
        @media screen and (min-width: 768px) {
          width: 40%;
        }
        .form-control {
          background: transparent;
          border: none;
          border-radius: 0;
          border-bottom: 2px solid $dark;
          box-shadow: none;
          color: $light;
          font-size: 0.8rem;
        }
        .send-button {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}
