@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap");
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.gallery {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient($dark, $secondary, $dark);

  .inner {
    .title {
      text-align: right;
      p {
        font-size: 2rem;
      }
      //   writing-mode: vertical-lr;
      //   text-orientation: upright;
    }
    .slick-slider {
      border-left: 2px solid $light;
      border-right: 2px solid $light;
      padding: 0.5rem;
      // background: gray;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .slick-arrow,
      .slick-next,
      .slick-prev {
        @media screen and (max-width: 568px) {
          display: none !important;
        }
      }

      // height: 100%;
      .slick-list {
        // background: pink;
        //   height: 100%;
        //   background: green;
        .slick-track {
          // max-height: 50vh;
          // max-width: 50rem;
          .slick-slide {
            //   background: yellow;
            display: flex;
            justify-content: center;
            //   max-width: 90%;
            //   max-height: 70vh;
            img {
              max-height: 50vh;
              max-width: 50rem;
              @media screen and (max-width: 768px) {
                max-height: 30vh;
              }
            }
          }
        }
      }
      .slick-dots {
        //   background: green;
        //   all: unset;
        //   padding: 1rem;
        display: flex !important;
        //   grid-template-columns: repeat(7, 1fr);
        //   grid-gap: 1rem;
        //   justify-content: space-between;
        //   width: 100%;
        //   flex-wrap: wrap;
        position: unset;
        overflow-x: scroll;
        overflow-y: hidden;

        li {
          width: 5rem;
          a {
            img {
              width: 5rem;
              height: 5rem;
            }
          }
        }
      }
      .slick-thumb {
        //   background: red;
        height: 10rem;
        align-items: center;
        //   padding: 1rem;
      }
    }
  }
}
